/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");
div.singlePostContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
div.singlePostContainer img {
  width: 80%;
  height: 50vh;
  object-fit: cover;
  margin: 2vh;
  border-radius: 3rem;
}
h1.singlePostTitleContainer {
  margin: 1vh;
  text-align: center;
  font-size: calc(2vh + 1rem);
  font-family: "Patrick Hand", cursive;
}
div.singlePostEditOptions {
  float: right;
}

.postEditIcon {
  margin-left: 1vw;
  font-size: calc(1vh + 1rem);
  cursor: pointer;
}
.fa-pen-nib {
  color: green;
}
.fa-trash {
  color: red;
}
div.singlePostInfo {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 2vh;
}
p.singlePostDescription {
  width: 80%;
  margin-top: 1.5vh;
  margin-bottom: 10vh;
  text-align: justify;
  line-height: 1.5rem;
}
div.singlePostCategoryContainer {
  width: 80%;
  /* border: 1px solid white; */
  display: flex;
  flex-direction: column;
}
div.singlePostCategoryContainer span {
  color: white;
}

/* List NOT in edit mode */
ul.singlePostCategoryList {
  display: flex;
}
ul.singlePostCategoryList li {
  padding: 0.5rem 2rem;
  margin-top: 1rem;
  margin-right: 2rem;
  border-radius: 1rem;
  background-color: rgb(66, 120, 143);
  color: white;
  font-size: calc(0.5rem + 0.5vw);
}
ul.singlePostCategoryList li:hover {
  background-color: rgb(100, 186, 222);
}
/* Category Selection in Edit Mode */
div.singlePostCategorySelection {
  /* border: 1px solid red; */
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
/* /////////////////////////////////////// */
/* Customize the label */
.singlePostCatLabel {
  display: inline-block;
  padding-left: 35px;
  margin: 0.5rem 1rem;
  cursor: pointer;
  font-size: calc(0.5rem + 0.5vw);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;

  color: rgb(241, 195, 195);
}
/* Hide the browser's default checkbox */
.singlePostCatLabel input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0px;
  width: 0px;
  /* accent-color: green; */
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 10px;
  height: 120%;
  width: 120%;
  background-color: rgba(91, 93, 99, 0.47);
  border-radius: 4px;
  z-index: -1;
}

/* On mouse-over, add a grey background color */
.singlePostCatLabel:hover input ~ .checkmark {
  background-color: red;
}

/* When the checkbox is checked, add a blue background */
.singlePostCatLabel input:checked ~ .checkmark {
  background-color: green;
}
