div.changePassPageContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(
      to bottom,
      rgba(90, 3, 3, 0.319),
      rgba(12, 12, 12, 0.365)
    ),
    url("../../assets/changePasswordBG.jpg");
  background-size: cover;
}
form.changePassPageForm {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 5vh 4vw;
  width: 30%;
  background-color: rgba(175, 175, 175, 0.321);
  /* border-radius: 1rem; */
  border: 1px solid rgba(115, 114, 114, 0.181);
  backdrop-filter: blur(8px);
  color: whitesmoke;
}
form.changePassPageForm img {
  width: 6vw;
  height: 6vw;
  align-self: center;
  margin-bottom: 1vh;
  border-radius: 50%;
  object-fit: cover;
}
form.changePassPageForm > label {
  margin: 0.7rem 0;
}

.changePassPageInput {
  padding: 0.8rem;
  background-color: white;
  border: none;
  /* border-radius: 0.5rem; */
  font-size: 0.9rem;
  color: gray;
}
.changePassPageInput:focus {
  outline: none;
}
.changePassPageButton {
  margin-top: 1.5rem;
  padding: 0.8rem;
  font-size: 0.9rem;
  border: none;
  background-color: #42c2ff;
  color: rgb(247, 243, 243);
  cursor: pointer;
}
.changePassPageButton:hover {
  background-color: #51d0dc;
}
.changePassPageButton:disabled {
  cursor: not-allowed;
  background-color: rgb(255, 0, 106);
}
@media screen and (max-width: 1350px) {
  form.changePassPageForm {
    width: 40%;
  }
  form.changePassPageForm img {
    width: 5rem;
    height: 5rem;
    align-self: center;
  }
}
@media screen and (max-width: 900px) {
  form.changePassPageForm {
    width: 50%;
  }
}

@media screen and (max-width: 600px) {
  form.changePassPageForm {
    width: 70%;
    padding: 2rem 1rem;
  }
  form.changePassPageForm img {
    width: 4rem;
    height: 4rem;
    align-self: center;
  }
}
