div.postsContainer {
  display: grid;
  gap: calc(1rem + 1vw);
  grid-template-columns: repeat(4, 1fr);
  padding: 3vw;
  margin-top: 2rem;
  min-height: 100vh;
  min-width: 0;
}
div.searchCatContainer {
  display: flex;
  align-items: center;
  margin-top: 3vh;
}
div.searchBarContainer {
  position: relative;
}
div.searchBarContainer input {
  width: calc(8rem + 7vw);
  height: calc(2rem + 1vh);
  margin-left: 4vw;
  background: rgba(67, 65, 46, 0.548);
  padding: 0rem 3rem;
  border-radius: 0.4rem;
  font-size: calc(0.5rem + 0.5vw);
  color: rgb(247, 202, 202);
  border: none;
  transition: all 0.5s ease;
}
div.searchBarContainer input::placeholder {
  color: rgb(223, 180, 180);
}
.fa-xmark {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  font-size: calc(0.8rem + 0.5vw);
  color: rgba(247, 202, 202, 0.323);
  cursor: pointer;
}
.searchBarIcon.fa-magnifying-glass {
  position: absolute;
  top: 0.6rem;
  left: 5rem;
  font-size: calc(0.8rem + 0.5vw);
  color: rgba(247, 202, 202, 0.323);
}
div.searchBarContainer input:focus {
  outline: none;
  border-bottom: 5px solid rgba(240, 35, 35, 0.759);
  width: calc(10vw + 10rem);
}
div.searchCatContainer label {
  margin-left: 1rem;
  color: rgb(223, 180, 180);
}
div.searchCatContainer select {
  margin-left: 1rem;
  padding: 0.2rem 2rem;
  border: 1px solid rgba(176, 171, 171, 0.789);
  border-radius: 5px;
  background-color: rgba(67, 65, 46, 0.548);
  color: rgb(247, 202, 202);
  /* width: calc(7rem + 5vw); */
}
footer.postsFooter {
  display: flex;
  justify-content: center;
  align-items: center;
}
button.posts-btn {
  padding: 0.5rem 1rem;
  margin: 1rem 3rem 2rem;
  background-color: rgba(181, 39, 26, 0.658);
  color: rgb(240, 212, 212);
  width: calc(6rem + 1vw);
  height: calc(2rem + 1vh);
  cursor: pointer;
  border: none;
  font-size: calc(0.8rem + 0.5vh);
}
button.posts-btn:disabled {
  cursor: not-allowed;
  background-color: rgba(93, 70, 70, 0.628);
}
button.posts-btn:active {
  border: 3px solid rgba(246, 255, 0, 0.77);
}
button.posts-btn:hover {
  background-color: rgb(122, 122, 118);
  color: rgb(53, 42, 42);
}
footer.postsFooter select {
  margin: 1rem 0rem 2rem;
  width: calc(2rem + 1vw);
  height: calc(2rem + 1vh);
  background-color: rgba(93, 70, 70, 0.628);
  color: rgb(240, 212, 212);
  font-size: calc(0.8rem + 0.5vh);
  padding: 0rem 0.3rem;
  border: none;
}
@media screen and (min-width: 3001px) {
  .searchBarIcon.fa-magnifying-glass {
    top: 0.6rem;
    left: 7rem;
  }
  .fa-xmark {
    top: 0.8rem;
    right: 1rem;
    font-size: calc(0.8rem + 0.5vw);
  }
}
@media screen and (min-width: 2501px) and (max-width: 3000px) {
  .searchBarIcon.fa-magnifying-glass {
    top: 0.7rem;
    left: 7rem;
  }
  .fa-xmark {
    top: 0.7rem;
    right: 1rem;
    font-size: calc(0.8rem + 0.5vw);
  }
}
@media screen and (min-width: 2001px) and (max-width: 2500px) {
  .searchBarIcon.fa-magnifying-glass {
    top: 0.7rem;
    left: 6.5rem;
  }
  .fa-xmark {
    top: 0.7rem;
    right: 1rem;
    font-size: calc(0.8rem + 0.5vw);
  }
}
@media screen and (max-width: 2000px) {
  .searchBarIcon.fa-magnifying-glass {
    top: 0.7rem;
    left: calc(3.5rem + 1.5vw);
  }
  .fa-xmark {
    top: 0.7rem;
    right: 1rem;
    font-size: calc(0.8rem + 0.5vw);
  }
}
@media screen and (max-width: 1400px) {
  .searchBarIcon.fa-magnifying-glass {
    top: 0.8rem;
    left: 4rem;
  }
  .fa-xmark {
    top: 0.8rem;
    right: 1rem;
    font-size: calc(0.8rem + 0.5vw);
  }
}
@media screen and (max-width: 1000px) {
  div.postsContainer {
    grid-template-columns: repeat(3, 1fr);
  }
  .fa-xmark {
    top: 0.8rem;
    right: 1rem;
    font-size: calc(0.8rem + 0.5vw);
  }
  .searchBarIcon.fa-magnifying-glass {
    top: 0.8rem;
    left: 3rem;
  }
}
@media screen and (max-width: 950px) {
  .searchBarIcon.fa-magnifying-glass {
    top: 0.8rem;
    left: 3.5rem;
  }
}
@media screen and (max-width: 750px) {
  div.postsContainer {
    grid-template-columns: repeat(2, 1fr);
  }
  div.searchCatContainer {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 3rem;
  }
  div.searchBarContainer input {
    width: 15rem;
    height: 2.5rem;

    border-radius: 0.2rem;
    font-size: 1rem;

    margin-bottom: 1rem;
  }
  div.searchBarContainer input::placeholder {
    color: rgb(223, 180, 180);
  }
  .fa-xmark {
    top: 0.8rem;
    right: 1rem;
    font-size: calc(0.8rem + 0.5vw);
  }
  .searchBarIcon.fa-magnifying-glass {
    top: 0.8rem;
    left: 3rem;
  }
  div.searchBarContainer input:focus {
    width: calc(15vw + 13rem);
  }
}
@media screen and (max-width: 550px) {
  div.postsContainer {
    grid-template-columns: repeat(1, 1fr);
  }
  div.searchCatContainer {
    flex-direction: column;
    align-items: flex-start;
  }
  div.searchBarContainer input {
    width: 15rem;
    height: 2.5rem;
    margin-left: 4vw;
    background: rgba(67, 65, 46, 0.548);
    padding: 0rem 3rem;
    border-radius: 0.2rem;
    font-size: 1rem;
    color: rgb(247, 202, 202);
    border: none;
    transition: all 0.5s ease;
    margin-bottom: 1rem;
  }
  div.searchBarContainer input::placeholder {
    color: rgb(223, 180, 180);
  }
  .fa-xmark {
    position: absolute;
    top: 0.8rem;
    right: 1rem;
    font-size: calc(0.8rem + 0.5vw);
    color: rgba(247, 202, 202, 0.323);
    cursor: pointer;
  }
  .searchBarIcon.fa-magnifying-glass {
    position: absolute;
    top: 0.8rem;
    left: 2.5rem;
    font-size: calc(0.8rem + 0.5vw);
    color: rgba(247, 202, 202, 0.323);
  }
}
@media screen and (max-width: 400px) {
  div.searchCatContainer select {
    margin-left: 0rem;
    margin-top: 1rem;
  }
}
