div.topBar {
  min-width: 100vw;
  height: calc(3rem + 2vh);
  background-image: linear-gradient(
    to bottom,
    rgb(55, 17, 17),
    30%,
    rgb(111, 7, 7),
    85%,
    transparent
  );
  position: sticky;
  top: 0;
  display: flex;
  z-index: 5;
  font-family: "Raleway", sans-serif;
}
/* Left Side */
div.topBar__left {
  flex: 3;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
div.topBar__left img {
  width: 180px;
  height: 50px;
  margin-left: 3vw;
  object-fit: cover;
  /* border: 1px solid white; */
}
/* Center */
div.topBar__center {
  flex: 6;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5vw;
}

div.topBar__center ul {
  display: flex;
  padding: 1rem;
}
div.topBar__center ul li {
  list-style: none;
  margin-right: 3vw;
  font-size: calc(1rem + 0.5vw);
}
div.topBar__center ul li a {
  color: rgb(208, 183, 183);
  position: relative;
  padding-bottom: 0.3rem;
  transition: all 0.5s ease;
}
div.topBar__center ul li a::after {
  content: "";
  width: 30%;
  height: 2px;
  background-color: rgb(208, 183, 183);

  position: absolute;
  bottom: 0;
  left: 35%;
  transform: scaleX(0);
  transition: all 0.2s ease-in-out;
}

div.topBar__center ul li a:hover::after {
  transform: scaleX(1);
}
/* Right */
div.topBar__right {
  flex: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}
div.topBar__right a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(1rem + 0.5vw);
  color: rgb(208, 183, 183);
}
div.topBar__right img {
  width: 40px;
  height: 40px;
  margin: 0.8rem;
  border-radius: 50%;
  object-fit: cover;
}
div.topBar__right span {
  color: rgb(245, 219, 219);
  font-size: calc(0.8rem + 1vh);
}
div.topBar__right ul {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid rgb(36, 7, 7); */
  padding: 0.3rem 0.6rem;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.loginButtonTopbar:hover {
  color: #f5f0e7;
}
div.topBar__right ul:hover i {
  color: #f5f0e7;
  border: 1px solid #f5f0e7;
}
div.topBar__right ul i {
  border: 1px solid black;
  border-radius: 50%;
  padding: 0.4rem;
  font-size: 0.8rem;
}
div.topBar__right ul li {
  margin-left: 0.5rem;
  margin-right: calc(0.5rem + 1vw);
}
.loginButtonTopbar {
  color: rgb(36, 7, 7);
}
.logoutButton {
  cursor: pointer;
  color: rgb(236, 206, 206);
  transition: letter-spacing 0.3s ease;
}
.logoutButton:hover {
  cursor: pointer;
  color: white;
  letter-spacing: 1px;
}
/* Hamburger */
div.hamburger {
  width: 4.5rem;
  height: 3rem;
  border: 1px solid rgba(138, 138, 19, 0.576);
  z-index: 2;

  cursor: pointer;

  display: none;
}
/* ///////////////////////////////////////////////////////////// */
@media screen and (max-width: 850px) {
  div.topBar {
    position: fixed;
    top: 0;
    right: -60rem;
    width: 45rem;
    height: 100vh;
    background-color: rgba(85, 21, 12, 0.651);
    backdrop-filter: blur(3px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    transition: all 1s ease-in-out;
    z-index: 2;
    margin-top: 0;
  }
  div.topBar.mobile {
    transform: translateX(-100%);
  }
  /* Left Side */
  div.topBar__left {
    display: none;
  }

  /* Center */
  div.topBar__center {
    flex: 40%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    flex-direction: column;
    padding-top: 6vh;
    margin-left: 0rem;
  }

  div.topBar__center ul {
    display: flex;
    padding: 1rem;
    flex-direction: column;
    margin-left: 12rem;
  }
  div.topBar__center ul li {
    list-style: none;
    margin: 5vh;
    font-size: calc(1rem + 1vw);
    text-transform: capitalize;
  }
  div.topBar__center ul li a {
    color: rgb(249, 249, 249);
    position: relative;
    padding-bottom: 0.3rem;
  }

  li.logoutButton {
    color: white;
  }
  /* Right */
  div.topBar__right {
    /* flex: 50%; */
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    margin-left: 4rem;
  }

  a.topBarUserContainer {
    margin-left: calc(100px + 6vw);
  }

  a.topBarUserContainer img.loggedInUserImage {
    width: 10vw;
    height: 10vw;

    border-radius: 50%;
    object-fit: cover;
    margin-left: 4rem;
  }
  div.topBar__right span {
    font-size: calc(1rem + 1vw);
    text-transform: uppercase;
    color: white;
    margin-left: 14rem;
    margin-top: 1rem;
  }
  /* NO USER */
  div.topBar__right ul {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    padding: 0.3rem 0.6rem;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    margin-left: 10rem;
    padding: 3.5vw;
  }
  div.topBar__right ul:hover {
    background-color: none;
  }
  div.topBar__right ul:hover .loginButtonTopbar {
    color: #f5f0e7;
  }

  div.topBar__right ul i {
    display: none;
  }
  div.topBar__right ul li a {
    font-size: calc(1rem + 1vw);
  }
  div.topBar__right ul li {
    margin-bottom: calc(4rem + 4vh);
  }
  .loginButtonTopbar {
    color: rgb(36, 7, 7);
  }
  .logoutButton {
    cursor: pointer;
  }
  /* Hamburger */
  div.hamburger {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: rgba(45, 3, 3, 0.854);
    overflow: visible;
    position: fixed;
    top: 3%;
    right: 6%;
    padding: 0.3rem;
  }
  div.line {
    width: 90%;

    background-color: rgb(195, 195, 195);
    transition: all 0.5s ease-in-out;
  }

  div.line-1 {
    height: 0.3rem;

    margin-bottom: 5px;
    top: 1rem;
  }
  div.line-2 {
    height: 0.15rem;
  }
  div.line-1.clicked {
    position: absolute;
    top: 22px;
    width: 50%;
    transform: rotateZ(410deg);
    height: 0.15rem;
  }
  div.line-2.clicked {
    position: absolute;
    width: 50%;
    transform: rotateZ(670deg);
    top: 22px;
  }
}

@media screen and (max-width: 700px) {
  div.topBar__center ul {
    margin-left: 10rem;
  }
  div.topBar__right ul {
    margin-left: 8rem;
  }
  a.topBarUserContainer {
    margin-left: 9rem;
  }
  div.topBar__right span {
    margin-left: 12.5rem;
  }
}
@media screen and (max-width: 500px) {
  div.topBar__center ul {
    margin-left: 10rem;
  }
  div.topBar__right ul {
    margin-left: 8rem;
  }
  a.topBarUserContainer {
    margin-left: 8rem;
  }
  div.topBar__right span {
    margin-left: 11rem;
  }
}
@media screen and (max-height: 700px) {
  div.topBar__right span {
    margin-bottom: 3rem;
  }
}
