div.writePage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.writePage img {
  width: 80%;
  height: 60vh;
  object-fit: cover;
  border-radius: 1rem;
  filter: sepia();
  transition: all 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
div.writePage img:hover {
  filter: none;
  transform: scale(1.01);
}
form.writeForm {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 80%;
}
div.writeFormGroupUp {
  display: flex;
  /* flex-direction: column; */
  margin: 2rem 0rem;
}
.writeIcon {
  width: 3vw;
  height: 3vw;
  font-size: 2vw;
  border: 2px solid;
  border-radius: 50%;
  color: rgb(129, 125, 125);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.writeTitleInput {
  height: calc(2rem + 2vh);
  margin-left: 2vw;
  width: 100%;
  padding: 1rem 2rem;
  border: none;
  font-size: calc(0.5vw + 1rem);
  background-color: rgba(148, 148, 148, 0.203);
  color: rgb(242, 208, 208);
  border-radius: 5px;
}
.writeTitleInput:focus {
  outline: none;
  border-bottom: 1px solid rgb(54, 14, 14);
  background-color: rgba(148, 148, 148, 0.503);
}
.writeFormGroupDown {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}
.writeFormGroupDown textarea {
  width: 100%;
  padding: 1rem;
  font-size: calc(1rem + 0.5vw);
  height: calc(5rem + 10vh);
  background: none;
  border-top: none;
  border-bottom: none;
  border-radius: 1rem;
  border-left: 2px solid gray;
  border-right: 2px solid gray;
  font-family: inherit;
  outline: none;
  color: rgb(242, 208, 208);
}
.writeFormGroupDown textarea:focus {
  background-color: rgba(148, 148, 148, 0.503);
}
button.writeSubmit {
  margin-top: calc(1rem + 1vh);
  padding: 0.5rem 1rem;
  width: 10%;
  align-self: flex-end;
  border-radius: 5px;
  font-size: 1rem;
  border: none;
  background-color: rgba(81, 255, 6, 0.382);
  color: white;
  cursor: pointer;
  margin-right: 3vw;
}
button.writeSubmit:hover {
  background-color: rgba(81, 255, 6, 0.682);
}
button.writeSubmit:active {
  border: 2px solid white;
}
button.writeSubmit:disabled {
  cursor: not-allowed;
  background-color: rgba(129, 120, 119, 0.396);
}
button.cancelWriteForm {
  margin-top: calc(1rem + 1vh);
  padding: 0.5rem 1rem;
  width: 10%;
  align-self: flex-end;
  border-radius: 5px;
  font-size: 1rem;
  border: none;
  background-color: rgba(255, 23, 6, 0.382);
  color: white;
  cursor: pointer;
  margin-right: 3vw;
}
button.cancelWriteForm:hover {
  background-color: rgba(255, 6, 6, 0.682);
}
button.cancelWriteForm:active {
  border: 2px solid white;
}
