div.signupPageContainer {
  background: linear-gradient(rgba(55, 2, 2, 0.472), rgba(80, 2, 2, 0.488)),
    url("../../assets/signupBG.jpg");
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form.signupForm {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 2vh 4vw;
  width: 30%;
  background-color: rgba(79, 63, 63, 0.348);

  border: 1px solid rgba(115, 114, 114, 0.181);
  backdrop-filter: blur(10px);
  color: white;
}
form.signupForm img {
  width: 25%;
  height: 25%;
  object-fit: fill;
  align-self: center;
}
form.signupForm > label {
  margin: 0.7rem 0;
}
.signupInput {
  padding: 0.8rem;
  background-color: white;
  border: none;

  font-size: 0.9rem;
  color: gray;
}
.signupInput:focus {
  outline: none;
}
.signupButton {
  margin-top: 1.5rem;
  padding: 0.8rem;
  font-size: 0.9rem;
  border: none;
  background-color: #42c2ff;
  color: rgb(247, 243, 243);
  cursor: pointer;
}
.signupButton:hover {
  background-color: #51d0dc;
}
.signupButton:disabled {
  cursor: not-allowed;
}
span.signupPassText,
span.signupPassConfText {
  font-size: 0.8rem;
  color: red;
  margin-top: 0.5rem;
}
span.signupErrorText {
  font-size: 0.9rem;
  color: rgb(253, 1, 1);
  margin-top: 0.5rem;
}
@media screen and (max-width: 1350px) {
  form.signupForm {
    width: 40%;
  }
  form.signupForm img {
    width: 5rem;
    height: 5rem;
    align-self: center;
  }
}
@media screen and (max-width: 900px) {
  form.signupForm {
    width: 50%;
  }
}

@media screen and (max-width: 600px) {
  form.signupForm {
    width: 70%;
    padding: 2rem 1rem;
  }
  form.signupForm img {
    width: 4rem;
    height: 4rem;
    align-self: center;
  }
}
