/* Import google fonts */
@import url("https://fonts.googleapis.com/css2?family=Koulen&family=Rubik+Glitch&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant:wght@300&family=Prata&display=swap");

div.header {
  width: 100vw;
  height: 100%;
}
.headerWelcome {
  margin-bottom: 5rem;
}
.headerWelcome p {
  text-align: center;
  padding-top: 12vh;
  margin-bottom: 16vh;
  font-size: calc(2vw + 1rem);
  position: relative;

  font-family: "Cormorant", serif;
  color: rgba(221, 221, 221, 0.836);
  mix-blend-mode: difference;
}
.headerWelcome p::after {
  content: "";
  width: 5%;
  height: 0.1rem;
  background-color: rgba(221, 221, 221, 0.631);
  position: absolute;
  bottom: -30%;
  left: 47%;
}
.headerWelcome p::before {
  content: "";
  width: 5%;
  height: 0.1rem;
  background-color: rgba(221, 221, 221, 0.631);
  position: absolute;
  top: 35%;
  left: 47%;
}
.headerVideoContainer {
  width: 100%;
  height: 35vh;
  position: relative;
}
.headerVideo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.overlayVideo {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(85, 64, 23, 0.626);
}
.headerTextContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.headerTextContainer p {
  font-size: calc(3vw + 3rem);

  letter-spacing: 5px;
  color: rgba(255, 255, 255, 0.7);
  text-transform: uppercase;

  font-family: "Cormorant", serif;
  mix-blend-mode: difference;
}
.headerTextCoder {
  position: absolute;
  top: -5%;
  left: 5%;
  font-size: calc(3vw + 3rem);
  color: white;
  mix-blend-mode: difference;

  font-family: "Cormorant", serif;
  font-weight: bold;
}
.headerTextCoder span {
  animation-name: bip;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
@keyframes bip {
  0% {
    color: white;
  }
  50% {
    color: transparent;
  }
  100% {
    color: white;
  }
}
@media screen and (max-width: 800px) {
  .headerTextContainer p {
    font-size: calc(2vw + 3rem);

    letter-spacing: 3px;
  }
}
@media screen and (max-width: 1100px) {
  .headerWelcome p {
    padding: 10vh 3vw 0vh;
    margin-bottom: 10vh;
    font-size: calc(2vw + 1.5rem);
    position: relative;
  }
}
@media screen and (max-width: 600px) {
  .headerTextContainer p {
    font-size: calc(1vw + 3rem);
    text-align: center;
    letter-spacing: 3px;
  }
  .headerWelcome p {
    padding: 10vh 3vw 0vh;
    margin-bottom: 10vh;
    font-size: calc(2vw + 1.5rem);
    position: relative;
  }
}
