div.loginPageContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background: linear-gradient(
      rgba(255, 255, 255, 0.4),
      rgba(255, 255, 255, 0.4)
    ),
    url("https://i.ibb.co/9YJWzrd/dose-media-b-U6-Jyh-SI6zo-unsplash.jpg"); */
  /* background: url("https://i.ibb.co/9YJWzrd/dose-media-b-U6-Jyh-SI6zo-unsplash.jpg"); */
  background: linear-gradient(rgba(55, 19, 19, 0.65), rgba(114, 11, 11, 0.456)),
    url("https://i.ibb.co/NnKHGw8/brady-frieden-Aupdm-Q4w-M4-unsplash.jpg");
  background-size: cover;
}
form.loginForm {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 5vh 4vw;
  width: 30%;
  background-color: rgba(79, 63, 63, 0.348);
  /* border-radius: 1rem; */
  border: 1px solid rgba(115, 114, 114, 0.181);
  backdrop-filter: blur(8px);
  color: white;
}
form.loginForm img {
  width: 5vw;
  height: 5vw;
  align-self: center;
}
form.loginForm > label {
  margin: 0.7rem 0;
}

.loginInput {
  padding: 0.8rem;
  background-color: white;
  border: none;
  /* border-radius: 0.5rem; */
  font-size: 0.9rem;
  color: gray;
}
.loginInput:focus {
  outline: none;
}
.loginButton {
  margin-top: 1.5rem;
  padding: 0.8rem;
  font-size: 0.9rem;
  border: none;
  background-color: #42c2ff;
  color: rgb(247, 243, 243);
  cursor: pointer;
}
.loginButton:hover {
  background-color: #51d0dc;
}
.loginButton:disabled {
  cursor: not-allowed;
  background-color: rgb(255, 0, 106);
}
.signupLink {
  margin-top: 2vh;
}
.forgotPassLink {
  margin-top: 2vh;
}
@media screen and (max-width: 1350px) {
  form.loginForm {
    width: 40%;
  }
  form.loginForm img {
    width: 5rem;
    height: 5rem;
    align-self: center;
  }
}
@media screen and (max-width: 900px) {
  form.loginForm {
    width: 50%;
  }
}

@media screen and (max-width: 600px) {
  form.loginForm {
    width: 70%;
    padding: 2rem 1rem;
  }
  form.loginForm img {
    width: 4rem;
    height: 4rem;
    align-self: center;
  }
}
