/* Import google fonts */

div.postContainer {
  display: flex;
  flex-direction: column;

  /* border: 1px solid rgb(228, 228, 228); */

  height: calc(350px + 20vh);
  overflow: hidden;
  border-radius: 5px;
}

div.postContainer img {
  width: 100%;
  height: 40%;
  border-radius: 5px;
  object-fit: cover;
  filter: sepia();
  transition: all 0.3s ease;
}
div.postContainer img:hover {
  filter: none;
  transform: scale(1.02);
}
div.postInfoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
div.postInfoContainer a.postTitle__link {
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
div.postInfoContainer a.postTitle__link:hover {
  background-color: #5f5555;
  border-radius: 10px;
}
span.postTitle {
  margin-bottom: calc(0.5vh + 0.5rem);
  font-size: calc(0.5vh + 1rem);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: lowercase;
  color: rgb(246, 223, 223);
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-align: center;
  padding: 1rem 1rem 0.15rem;
  white-space: pre-wrap;
}

.postTitle__link {
  margin-top: 1.5vh;
  text-align: center;
  text-transform: capitalize;
}
.postTitle__link::first-letter {
  text-transform: uppercase;
}
ul.postCategories {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 1vh;
  flex-wrap: wrap;
}
ul.postCategories li {
  font-family: "Josefin Sans", sans-serif;
  padding: 0.3rem 0.7rem;
  background-color: #676262;
  margin: 2px;

  /* border-radius: 0.3rem; */
}
ul.postCategories li:hover {
  background-color: rgb(188, 111, 75);
}
ul.postCategories li a {
  color: rgb(221, 198, 198);
}

div.postDateAndAuthorContainer {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin-top: 1.5vh;
  color: rgb(221, 198, 198);
}

span.postDate {
  margin: 0.5vh;
  font-family: "Josefin Sans", sans-serif;
  font-style: italic;
}
span.postAuthor b a {
  color: rgb(221, 198, 198);
}
span.postAuthor b a:hover {
  color: rgb(225, 142, 142);
}
p.postDescription {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: calc(1rem + 0.5vh);
  line-height: 1.2;
  color: #5f5555;

  text-overflow: ellipsis;
  overflow-x: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  text-align: justify;
  padding: 1rem 1rem 0.15rem;
  white-space: pre-wrap;
  margin: 1rem 0rem;
}
p.postDescription::-webkit-scrollbar {
  width: 5px;
}
p.postDescription::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

p.postDescription::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(255, 0, 0, 0.8);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
